.header {
    padding-top   : 24px;
    padding-bottom: 24px;
}

.header__container {
    display    : flex;
    align-items: center;
    min-width  : 1240px;
    margin     : 0 auto;
    padding    : 0 30px;

}

.header__logo {
    margin-right: 94px;
}

.header__search {
    flex        : 1 1;
    margin-right: auto;
}

.header__favorite-btn {
    color     : #fff;
    transition: color .2s ease-in-out;
}

.header__favorite-btn:hover {
    color      : tomato;
    line-height: 0;
}
